logs-2023*
logs-2024*
**/__pycache__/

# docker-artifacts/ are the artifacts that were copied from the docker container
# to the host machine. They are not needed in the docker container again.
docker-artifacts/
